body{
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    font: 1em "typewriter", monospace;
  align-self: end;
    border-radius: 50px;
    border: 20px solid;color: rgb(90, 2, 2)  ;
}
form{  height: 498px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(52,62,115,1) 0%, rgba(141,70,252,1) 100%);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat
     }
     
     form input:invalid {
        border: 2px dashed red;
      }
      
      form input:valid {
        border: 2px solid black;
      }

#message {
  grid-row: 1 / 5;
}

#from, #reply {
  display: flex;
}

button {
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
}

button:after {
  content: " >>>";
}

button:hover, button:focus {
  outline: none;
  background: #000;
  color: #fff;
}